extends index

block content
	.container
		h2 Welcome Guest!
		br
		p This is a demo for academic usages.
		br
		p You are at this page to access protected resources on the your Google+ account.
		br
		p Please press start button below.
		br

		a#signinButton(href='#{link}')
			button.btn(type='button')  Start


